.vscode
__pycache__
BERT_model/script/utils/__pycache__/wordnet.cpython-37.pyc
Input_Data
pretrained_WSD_models
Cytoscape
*.swp
bert_results.txt
categories_falses.csv
categories_trues.csv
categories_trues_and_falses.csv
results.csv
results_mbert.txt
RESULTS_figure_CSV/
get_pattern_synsets-output/
page_large_english_results.txt
get_sense_graph_output_falses/
get_sense_graph_output_trues/
*.png
../BERT_model/model_scripts/output_dir/
../BERT_model/model_scripts/runs/
../BERT_model/results_on_mBERT/inferred_on_semeval_test_2013/mbert_finetuned_chkpnt24000.txt
list-of-files-before.txt
*.txt
*.csv
BERT_model/model_scripts/runs/
BERT_model/model_scripts/output_dir/
JSON_data_comparison_2/
JSON_data_comparison_bert-BASE-mbert/
DUMP (copy)/
old-DUMP/
DUMP/
JSON_FINAL/
JSON_FINAL_BACKUP/
*.old
