.vscode
__pycache__
BERT_model/script/utils/__pycache__/wordnet.cpython-37.pyc
Input_Data
../BERT_model/model_scripts/output_dir/
../BERT_model/model_scripts/runs/
../BERT_model/pretrained_WSD_models/
../BERT_model/results_on_mBERT/inferred_on_semeval_test_2013/
../BERT_model/results_on_mBERT/inferred_on_semeval_test_2015/
../bert_BASE_res.txt
../categories_bert-fine-tuned.csv
../categorizing/
.png
1_vars_results/
2_vars_results/
Cytoscape/
JSON_data_comparison/
JSON_data_comparison_2/
JSON_data_comparison_bert-BASE-mbert/
RESULTS_figure_CSV/
_categories_falses.csv
_categories_trues.csv
all_4_cats_csv/
all_4_cats_csv_bert-base/
babel_query.dump
crawler-vars-falses/
crawler-vars/
figures_graphs/all_page_synsets.png
figures_graphs/cliques_patterns/
figures_graphs/cramming_number nodes_1447_number_edges_1447.png
figures_graphs/monolingual/
figures_graphs/note_550781_nodes_and_edges.png
figures_graphs/one_synset_example_page.png
figures_graphs/page_boy_monoling_en_synsets.png
figures_graphs/patterns_both_ture/
figures_graphs/recrimination_correct_mono.png
figures_graphs/recrimination_correct_multi.png
get_pattern_synsets-output_falses/
get_pattern_synsets-output_trues/
get_sense_graph_output_falses/
get_sense_graph_output_trues/
list-of-files-before.txt
new_all-trues_nodes_edges.csv
results_bert_fine-tuned-mbert.csv
../monolingual_true.csv
../multilingual_true.csv
../page_large_english_results.txt
../res_baseBERT_fine-tuned-mbert.csv
../result_bert.txt
../results_bert_fine-tuned-mbert.csv
../results_bert_mbert.csv
../results_finetuned_mbert.txt
../results_mbert.txt
